<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="cactus.png" />
        <link rel="stylesheet" href="site.css" />
			<title>KAKTUS ART BOUTIQUE</title>
	</head>
			<body>
				<div class="wrapper" >
				<div class="content">
						<div class="fond"><a href="acceuil.html"><img  src="images/kak.png"></a> </div>
				<div class="wrapper" >
				<div class="content">			
							<div class="menu">
								<a href="acceuil.html" class="bouton1">ACCEUIL</a>
								<a href="peintures.html" class="bouton1">PEINTURES</a>
								<a href="illustrations.html" class="bouton1">ILLUSTRATIONS</a>
								<a href="sculptures.html" class="bouton1">SCULPTURES</a>
								<a href="contact.html" class="bouton1">CONTACT</a><br />		
							</div>
							<div class="textefin"><br><br><br>
									 <strong>Bienvenue dans mon imaginaire vous allez pouvoir y découvrir des peinture, des illustrations, un ainsi que des sculptures.
									 	<p>Toutes les oeuvres présentes sur ce site sont en vente n'hésitez donc pas à me contacter si vous désirez en faire l'acquisition, enfin si cela n'est pas déjà trop tard.
									 	<p>Je reste à votre disposition également si vous désirez passer une commande n'hésitez donc pas.
									 	<p>En attendant je vous souhaite une bonne visite
									 	</strong>
									 	<p class="signature">
								<strong>KAKTUS</strong>
							</div>
				</div>
				</div>
			</body>
</html>