<!DOCTYPE html>
<html>
	<head>
		<link rel="shortcut icon" type="image/x-icon" href="cactus.png" />
        <link rel="stylesheet" href="site.css" />
			<title>KAKTUS ART BOUTIQUE</title>
	</head>
			<body>
				<div class="wrapper" >
				<div class="content">
						<div class="fond"><a href="acceuil.html"><img  src="images/kak.png"></a> </div>
				<div class="wrapper" >
				<div class="content">			
							<div class="menu">
								<a href="acceuil.html" class="bouton1">ACCEUIL</a>
								<a href="peintures.html" class="bouton1">PEINTURES</a>
								<a href="illustrations.html" class="bouton1">ILLUSTRATIONS</a>
								<a href="sculptures.html" class="bouton1">SCULPTURES</a>
								<a href="contact.html" class="bouton1">CONTACT</a><br />		
							</div>
							<div class="textefin">
							</div>
				</div>
				</div>
			</body>
</html>